.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff; /* Blanco */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;

    div {
      margin-bottom: 15px;

      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 14px; /* Ajustar el tamaño de la fuente */
      }

      input[type="date"],
      input[type="number"],
      select {
        width: 100%;
        padding: 10px;
        border: 1.5px solid #c7bebe; /* Gris claro */
        border-radius: 6px;
        transition: all 0.3s ease;
        font-size: 14px; /* Ajustar el tamaño de la fuente */
      }
    }

    .button-group {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; /* Ajustar botones en pantallas pequeñas */
    }

    button[type="submit"],
    button[type="button"] {
      margin-right: 10px;
      padding: 10px;
      background-color: rgb(50, 51, 53); /* Gris oscuro */
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-size: 14px; /* Ajustar el tamaño de la fuente */
      width: 100%; /* Ajustar el ancho del botón en pantallas pequeñas */
      margin-bottom: 10px; /* Añadir espacio entre los botones */
    }
  }

  table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
      font-size: 14px; /* Ajustar el tamaño de la fuente */
    }

    th {
      background-color: #f2f2f2; /* Gris claro */
    }

    td {
      background-color: #fff;

      &:nth-child(odd) {
        background-color: #f9f9f9; /* Gris más claro */
      }
    }

    button {
      margin: 0 5px;
      padding: 6px 12px;
      background-color: rgb(50, 51, 53); /* Gris oscuro */
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-size: 12px; /* Ajustar el tamaño de la fuente */
    }
  }
}

/* Media query para pantallas móviles */
@media only screen and (max-width: 360px) {
  .container {
    max-width: 100%;
    padding: 10px;

    h2 {
      font-size: 18px; /* Reducir el tamaño del título */
    }

    form {
      padding: 10px;

      div {
        margin-bottom: 10px;

        label {
          font-size: 12px; /* Reducir el tamaño de la etiqueta */
        }

        input[type="date"],
        input[type="number"],
        select {
          font-size: 12px; /* Reducir el tamaño del input */
          padding: 8px; /* Reducir el padding */
        }
      }

      button[type="submit"],
      button[type="button"] {
        font-size: 12px; /* Reducir el tamaño del botón */
        padding: 8px; /* Reducir el padding */
      }
    }

    table {
      font-size: 12px; /* Reducir el tamaño de la tabla */

      th,
      td {
        padding: 6px; /* Reducir el padding de las celdas */
      }

      button {
        font-size: 10px; /* Reducir el tamaño del texto en botones */
        padding: 4px 8px; /* Ajustar el padding de los botones */
      }
    }
  }
}
