/* Contenedor general */
.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  width: 100%;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Mensaje de error */
.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

/* Estilo de la tabla */
table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

td button {
  margin: 1px;
  padding: 5px;
  background-color: rgb(50, 51, 53);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

td button:hover {
  background-color: rgb(167, 163, 163);
  color: black;
}

td button:last-child {
  background-color: rgb(50, 51, 53);
  color: #fff;
}

td button:last-child:hover {
  background-color: rgb(167, 163, 163);
  color: black;
}

/* Estilo general para pantallas pequeñas (360px) */
@media (max-width: 360px) {
  .container {
    max-width: 100%;
    padding: 10px;
    border: none;
    background-color: #f9f9f9;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  form {
    gap: 8px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    width: 100%;
  }

  label {
    font-size: 14px;
    margin-bottom: 4px;
  }

  input, select, button {
    width: 100%;
    padding: 8px;
    font-size: 14px;
  }

  button {
    margin-bottom: 8px;
  }

  /* Estilo para la tabla */
  table {
    width: 100%;
    font-size: 12px;
  }

  th, td {
    padding: 5px;
  }

  td button {
    padding: 4px;
    font-size: 12px;
  }

  td button:hover {
    background-color: rgb(167, 163, 163);
    color: black;
  }

  /* Ajustes adicionales */
  th {
    font-size: 14px;
  }

  tbody tr:hover {
    background-color: #f1f1f1;
  }

  .error-message {
    font-size: 12px;
  }
}

  