body {
  height: 100vh;
  width: 100%;
  background-color: #f2f2f2; /* Gris claro */
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff; /* Blanco */
  width: 410px;
  padding: 30px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.container .text {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px; /* Espacio entre el título y el formulario */
}

.container form .data {
  height: auto; /* Cambiado para que se ajuste automáticamente */
  width: 100%;
  margin: 20px 0; /* Espaciado ajustado */
}

form .data label {
  font-size: 18px;
}

form .data input {
  height: 45px; /* Altura del input */
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid #ccc; /* Gris */
  border-radius: 4px; /* Bordes redondeados */
}

form .data input:focus {
  border-color: #3498db; /* Azul */
  border-bottom-width: 2px;
}

.input-box.button input[type="submit"] {
  height: 45px; /* Altura del botón */
  width: 100%;
  padding: 10px; /* TAMAÑO */
  font-size: 18px;
  margin-top: 20px; /* Se deja */
  margin-bottom: 20px; /* Se deja */
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  background: rgb(50, 51, 53);
  cursor: pointer;
  color: white;
  transition: background-color 0.3s, color 0.3s; /* Transiciones para suavizar el cambio de color */
}

.input-box.button input[type="submit"]:hover {
  background: rgb(167, 163, 163);
  color: black; /* Cambia el color del texto al pasar el cursor */
}

form .signup-link {
  text-align: center; /* Centra el texto de registro */
}

form .signup-link a {
  color: #3498db; /* Azul */
  text-decoration: none;
}

form .signup-link a:hover {
  text-decoration: underline;
}


/* Media Queries para dispositivos móviles */
@media (max-width: 600px) {
  .container {
    padding: 20px; /* Menos padding en móviles */
  }

  .container .text {
    font-size: 28px; /* Tamaño de texto más pequeño */
  }

  form .data label {
    font-size: 14px; /* Tamaño de texto más pequeño */
  }

  form .data input {
    font-size: 15px; /* Tamaño de texto más pequeño */
  }

  .input-box.button input[type="submit"] {
    font-size: 16px; /* Ajustado para ser más legible */
  }

  form .signup-link {
    font-size: 12px; /* Tamaño de texto más pequeño */
  }
}

/* login.component.css */
.password-input {
  position: relative; /* Permitir posicionamiento absoluto de los elementos dentro */
}

.password-input input {
  width: 100%; /* Ocupar todo el ancho disponible */
  padding-right: 40px; /* Espacio para el ícono */
}

.toggle-password {
  position: absolute; /* Posicionarlo de manera absoluta */
  right: 10px; /* A la derecha del input */
  top: 50%; /* Centrado verticalmente */
  transform: translateY(-50%); /* Ajustar para que esté centrado */
  background: transparent; /* Sin fondo */
  border: none; /* Sin borde */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
}

.toggle-password img {
  width: 20px; /* Ajustar el tamaño de la imagen */
  height: 20px; /* Ajustar el tamaño de la imagen */
}
