<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>LOGIN IVENTORY PRO</title>
      <link rel="stylesheet" href="login.component.css">
   </head>
   <body>
      <div class="container">
         <div class="text">
            Sign In IventoryPro
         </div>
         <form action="#">
            <div class="data">
               <label>Correo</label>
               <input type="text" required>
            </div>
            <div class="data">
               <label>Contraseña</label>
               <input type="password" required>
            </div>
            <div class="forgot-pass">
               <a href="#">Olvidaste la contraseña?</a>
            </div>
            <div class="input-box button">
               <input type="submit" value="login">
             </div>
            <div class="signup-link">
               No estas registrado? <a href="#">Registrate Ahora</a>
            </div>
         </form>
      </div>
   </body>
</html>
