.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff; /* Fondo blanco */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1.5px solid #c7bebe; /* Borde gris claro */
    border-radius: 6px;
    transition: all 0.3s ease;
}

input:focus, select:focus {
    border-color: #4070f4; /* Color azul al enfocar */
}

button {
    padding: 10px 20px;
    background-color: #007bff; /* Botón azul */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3; /* Azul oscuro */
}

/* Estilos para la tabla de resultados */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2; /* Fondo gris claro para encabezado */
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Alternancia de color en filas */
}

/* Alinear tabla al centro */
table {
    margin-left: auto;
    margin-right: auto;
}
