<title>Administración IventoryPro</title>
<link rel="stylesheet" href="administracion.component.scss">
  <div class="container">
    <div class="text">
      Administración IventoryPro
    </div>
    <div class="buttons">
      <button type="button">REPORTES</button>
      <button type="button">TIENDAS</button>
      <button type="button">PENDIENTE</button>
      <button type="button">PENDIENTE</button>
      <button type="button">PENDIENTE</button>
      <button type="button">PENDIENTE</button>
  </div>
</div>
