.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  
    h2 {
      font-size: 24px;
      margin-bottom: 15px;
    }
  
    button {
      margin-bottom: 10px;
      padding: 8px 16px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  
    table {
      width: 100%;
      margin-top: 15px;
      border-collapse: collapse;
      display: block;
      overflow-x: auto; /* Habilita desplazamiento horizontal si la tabla es muy ancha */
  
      thead {
        display: none; /* Ocultamos el encabezado en móviles */
      }

      th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
  
      th {
        background-color: #f2f2f2;
      }
  
      td {
        background-color: #fff;
  
        &:nth-child(odd) {
          background-color: #f9f9f9;
        }
      }
  
      button {
        margin: 1px;
        padding: 5px;
        width: 100%;
        background-color: rgb(50, 51, 53);
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
  
        &:hover {
          background-color: rgb(167, 163, 163);
          color: black;
        }
      }
    }
  
    form {
      margin-top: 15px;
  
      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }
  
      input {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
  
      button {
        margin-right: 10px;
        padding: 8px 16px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
  
        &:hover {
          background-color: #0056b3;
        }
      }
  
      button:last-child {
        margin-right: 0;
      }
    }
  }

  /* Media query para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .container {
    padding: 10px;

    h2 {
      font-size: 18px;
    }

    button {
      padding: 10px;
      font-size: 14px;
    }

    table {
      width: 100%;
      overflow-x: auto;
    }

    td {
      font-size: 12px;
      padding: 8px;
    }

    form {
      label {
        font-size: 12px;
      }

      input, textarea {
        font-size: 12px;
        padding: 5px;
      }

      button {
        padding: 8px;
      }
    }
  }
}