<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mantenimiento IventoryPro</title>
  <link rel="stylesheet" href="humana.component.css">
</head>
<body>
  <div class="container">
    <div class="text">
      Gestión Humana IventoryPro
    </div>
    <div class="buttons">
      <button type="button">PQRS Interna</button>
      <button type="button">Mi Organigrama</button>
      <button type="button">Mis datos de Empleado</button>
    </div>
  </div>
</body>
</html>