.container {
  background-color: #fff; /* Blanco */
  width: 100%;
  max-width: 1000px; /* Ajusta el ancho máximo según sea necesario */
  margin: 50px auto; /* Centra el contenedor y agrega margen */
  padding: 20px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  box-sizing: border-box; /* Incluye el padding en el ancho */
}

.container .text {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Permite que los botones pasen a la siguiente línea si es necesario */
}

.buttons button {
  margin: 0 10px; /* Espacio entre botones */
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}


/* Media Queries para pantallas móviles */
@media (max-width: 360px) {
  .container {
    margin: 20px auto; /* Reducir el margen en móviles */
    padding: 45px;
  }

  .container .text {
    font-size: 28px; /* Ajustar el tamaño de fuente en pantallas pequeñas */
  }

  .buttons button {
    padding: 10px;
    font-size: 16px;
    flex: 1 1 100%; /* Los botones ocuparán el 100% del ancho en pantallas pequeñas */
    max-width: none; /* Quitar el máximo ancho en móviles */
  }
}