<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="styledashboard.css">
<title>Dashboard</title>
</head>
<body>
<aside class="sidenav bg-gradient-dark" id="sidenav-main">
    <hr class="horizontal light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/dashboard">
          <span class="nav-link-text">Dashboard</span>
          <img src="assets/img/dash.png" alt="Icono Dash" class="icono-izquierda" style="position: absolute;left: 20px; top: 50%; transform: translateY(-50%);">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/administracion">
          <span class="nav-link-text">Administración</span>
          <img src="assets/img/admin.png" alt="Icono Admin" class="icono-izquierda" style="position: absolute;left: 20px; top: 50%; transform: translateY(-50%);">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/contabilidad">
          <span class="nav-link-text">Contabilidad</span>
          <img src="assets/img/conta.png" alt="Icono Conta" class="icono-izquierda" style="position: absolute;left: 20px; top: 50%; transform: translateY(-50%);">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/ventas">
          <span class="nav-link-text">Ventas</span>
          <img src="assets/img/ventas.png" alt="Icono Ventas" class="icono-izquierda" style="position: absolute;left: 20px; top: 50%; transform: translateY(-50%);">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/compras">
          <span class="nav-link-text">Compras</span>
          <img src="assets/img/compras.png" alt="Icono Compras" class="icono-izquierda" style="position: absolute;left: 20px; top: 50%; transform: translateY(-50%);">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/inventarios">
          <span class="nav-link-text">Inventarios</span>
          <img src="assets/img/inven.png" alt="Icono Inventarios" class="icono-izquierda" style="position: absolute;left: 20px; top: 50%; transform: translateY(-50%);">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/mantenimiento">
          <span class="nav-link-text">Mantenimiento</span>
          <img src="assets/img/mante.png" alt="Icono Mantenimiento" class="icono-izquierda" style="position: absolute;left: 20px; top: 50%; transform: translateY(-50%);">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/humana">
          <span class="nav-link-text">Gestion Humana</span>
          <img src="assets/img/rh.png" alt="Icono RH" class="icono-izquierda" style="position: absolute;left: 20px; top: 50%; transform: translateY(-50%);">
        </a>
      </li>
      <li class="nav-item mt-3">
        <h6 class="text-uppercase text-xs text-white font-weight-bolder opacity-8">MANEJO DE CUENTA</h6>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/perfil">
          <span class="nav-link-text">Profile</span>
          <img src="assets/img/perfil.png" alt="Icono Perfil" class="icono-izquierda" style="position: absolute;left: 20px; top: 50%; transform: translateY(-50%);">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/login">
          <span class="nav-link-text">Sign In</span>
          <img src="assets/img/ingresar.png" alt="Icono Ingreso" class="icono-izquierda" style="position: absolute;left: 20px; top: 50%; transform: translateY(-50%);">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/registro">
          <span class="nav-link-text">Sign Up</span>
          <img src="assets/img/registrar.png" alt="Icono Registro" class="icono-izquierda" style="position: absolute;left: 20px; top: 50%; transform: translateY(-50%);">
        </a>
      </li>
    </ul>
  </aside>
    <router-outlet></router-outlet>
</body>
</html>
