<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mantenimiento IventoryPro</title>
  <link rel="stylesheet" href="inventarios.component.css">
</head>
<body>
  <div class="container">
    <div class="text">
      Inventarios IventoryPro
    </div>
    <div class="buttons">
      <button type="button">Operaciones de Mercancia</button>
      <button type="button">Consulta de Inventario</button>
      <button type="button">Recepción de mercancia</button>
    </div>
  </div>
</body>
</html>
