<title>Mantenimiento IventoryPro</title>
  <link rel="stylesheet" href="mantenimiento.component.css">
  <div class="container">
    <div class="text">
      Mantenimiento IventoryPro
    </div>
    <div class="buttons">
      <button type="button" routerLink="solicitudesmantenimiento">Generar solicitud de mantenimiento</button>
      <button type="button" routerLink="missolicitudes">Mis Solicitudes de Mantenimiento</button>
      <button type="button" routerLink="insumos">Inventario de Insumos</button>
</div>
<router-outlet></router-outlet>
