<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro IventoryPro</title>
  <link rel="stylesheet" href="registro.component.css">
</head>
<body>
  <div class="container">
    <div class="text">
      Registro IventoryPro
    </div>
    <form id="registroForm" (ngSubmit)="ingresar()" #registroForm="ngForm">
      <div class="input-box">
        <input type="text" id="nombre_usuario" name="nombre_usuario" [(ngModel)]="user.nombre_usuario" placeholder="Ingresa tu Nombre de Usuario" required>
      </div>
      <div class="input-box">
        <input type="text" id="nombre_completo" name="nombre_completo" [(ngModel)]="user.nombre_completo" placeholder="Ingresa tus Nombres y Apellidos" required>
      </div>
      <div class="input-box">
        <input type="email" id="correo_electronico" name="correo_electronico" [(ngModel)]="user.correo_electronico" placeholder="Ingresa tu Correo" required>
      </div>
      <div class="input-box">
        <input type="text" id="identificacion" name="identificacion" [(ngModel)]="user.identificacion" placeholder="Ingresa tu Cédula" required>
      </div>
      <div class="input-box">
        <input type="text" id="celular" name="celular" [(ngModel)]="user.celular" placeholder="Ingresa tu Celular" required pattern="[0-9]{10}">
      </div>
      <div class="input-box">
        <input type="password" id="contrasena" name="contrasena" [(ngModel)]="user.contrasena" placeholder="Crea tu contraseña" required>
      </div>
      <div class="input-box">
        <input type="password" id="confirmar_contrasena" name="confirmar_contrasena" [(ngModel)]="user.confirmar_contrasena" placeholder="Confirma tu contraseña" required>
      </div>
      <div *ngIf="passwordMismatch" class="error-message">Las contraseñas no coinciden.</div>
      <div *ngIf="emailExists" class="error-message">El correo electrónico ya está registrado.</div>
      <div *ngIf="userExists" class="error-message">El nombre de usuario ya está registrado.</div>
      <div *ngIf="idExists" class="error-message">La identificación ya está registrada.</div>
      <div class="input-box button">
        <input type="submit" value="Registrar ahora" [disabled]="registroForm.invalid || passwordMismatch">
      </div>
      <div class="text">
        <h3>Ya tienes una cuenta? <a href="#">Ingresa ahora</a></h3>
      </div>
    </form>
  </div>
</body>
</html>








