<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro IventoryPro</title>
  <link rel="stylesheet" href="registro.component.css">
</head>
<body>
  <div class="container">
    <div class="text">
      Registro IventoryPro
   </div>
    <form action="#">
      <div class="input-box">
        <input type="text" placeholder="Ingresa tus Nombres" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Ingresa tus Apellidos" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Ingresa tu Correo" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Ingresa tu cedula" required>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Crea tu contraseña" required>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Confirma tu contraseña" required>
      </div>
      <div class="policy">
        <input type="checkbox">
        <h3><a href="#">Yo Acepto Terminos y Condiciones</a></h3>
      </div>
      <div class="input-box button">
        <input type="submit" value="Registrar ahora">
      </div>
      <div class="text">
        <h3>Ya tienes una cuenta? <a href="#">Ingresa ahora</a></h3>
      </div>
    </form>
  </div>
</body>
</html>
